/* -----------------head --------------------*/
.head{
    background-color: #009EFF;
    padding: 10px 0;
    color: #fff;
}
.head i{
    margin-right: 10px;
}
.head label{
    margin-right: 30px;
    font-size: 13px;
}


/* ---------------search------------------- */
.search{
    padding: 20px 0;
}
.search .logo img{
    width: auto;
    height: auto;
}
/* .search .width{
width: 20%;
} */
/* .search .classifie{

} */
.search-box{
    width: 43%;
    border: 0px solid rgba(0, 0, 0, 0.1);
}
.search-box i{
    width: 5%;
    padding: 12px 36px 0px 14px;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    background-color: #f6f9fc;
    color:deepskyblue;
}
.search-box input{
    width: 100%;
    padding: 10px;
    background-color: #f6f9fc;
}

::placeholder{
    font-size: 15px;
}
.search-box span{
   width: 20%;
   opacity: 0.5;
   border-left: 2px solid rgba(0, 0, 0, 0.1);
   padding: 10px;
}
.cart{
    position: relative;
}
.search .cart span{
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e94560;
    color: #fff;
}
.search .f_flex{
    justify-content: end;
    margin-right: 66px;
    /* background-color: #f6f9fc; */
    height: 43px;
    border-radius: 5px;
}



.categories{
    background-color: #f6f9fc;
    padding: 0 30px;
    border-radius: 5px;
    height: 7vh;
    margin-top: 5px;
}
/* .categories span{
    margin-top: 10px;
    font-size: 30px;
    margin-right:20px ;
} */
.categories h5{
    font-weight: 400;
    margin-top: 9px;
}
.categories h4 i{
margin-left: 10px;
}


header{
    height: 8vh;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1); 
}
header ul{
    line-height: 8vh;
}
header ul li{
    margin-left: 30px;
}
header ul li a{
    transition: 0.5s;
    font-weight: 400;
    font-size: 15px;
}
header ul li a:hover{
    color:#e94560;
}
.open{
    display: none;
}
 /* .classifie{

} */
 .search.active{ 
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    transition: 0.5;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
}
.classifi-button{
    background-color: deepskyblue;
    width: 99px;
    height: 40px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    font-weight: 700;
    font-family: inherit;
}
@media (max-width:768px) {
    header ul{
        padding-top: 30px;
    }
    .nav-links-MobileMenu{
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        top: 0;
        transition: 0.5;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        z-index: 888;
        box-shadow: rgba(50, 50, 93, 0.23) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px ;
    }
    header ul li{
        width: 100%;
        transition: 0.5 ease-in-out;
        text-transform: uppercase;
        line-height: 70px;
    }
    header .link{
        display: none;
    }
    .close,
    .open{
        position: absolute;
        top: 35px;
        right: 20px;
        color: #ff014f;
        display: block;
        font-size: 25px;
        z-index: 999;
    }
    .open{
        top: 18%;
        right: 30px;
    }
    .close{
        right: 45%;
    }
    .close .home-btn{
        background: linear-gradient(145deg, #e2e8ec, #ffffff );
        color: #ff014f;
        border-radius: 50%;
        padding: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}